@model ZaculeuValley.IxchelAdmin.Models.InstitutionCountry

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>País</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdinstitutionCountry" />
            <div class="form-group">
                <label asp-for="Idinstitution" class="control-label">ID Institución</label>
                <select asp-for="Idinstitution" class="form-control" asp-items="ViewBag.Idinstitution"></select>
                <span asp-validation-for="Idinstitution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryCode" class="control-label">Código País</label>
                <input asp-for="CountryCode" class="form-control" />
                <span asp-validation-for="CountryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryName" class="control-label">Nombre País</label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryPhoneCode" class="control-label">Prefijo Telefónico</label>
                <input asp-for="CountryPhoneCode" class="form-control" />
                <span asp-validation-for="CountryPhoneCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryDomainName" class="control-label">Dominio</label>
                <input asp-for="CountryDomainName" class="form-control" />
                <span asp-validation-for="CountryDomainName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Enabled" /> Hábilitado
                </label>
                <span asp-validation-for="Enabled" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> Borrado
                </label>
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="mb-5">
    <a asp-action="Index">Regresar a Índice</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
