@{
    ViewData["Title"] = "Home Page";
}
@model List<ControllerListViewModel>



<div class="text-center">
    <h2>Ixchel Administrador</h2>
</div>

@*<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Documentación <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>*@

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var controller in Model.OrderByDescending(c => c.DisplayedName))
        {
            <tr>
                <td>@controller.DisplayedName</td>
                <td><a href="@controller.ApiUrl">Editar</a></td>
            </tr>
        }
    </tbody>
</table>




@*@{
    ViewData["Title"] = "Home Page";
}
@model List<ControllerListViewModel>



<div class="text-center">
    <h2>Ixchel Administrador</h2>
</div>

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Documentación <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var controller in Model.OrderByDescending(c => c.DisplayedName))
        {
            <tr>
                <td>@controller.DisplayedName</td>
                <td><a href="@controller.ApiUrl">Editar</a></td>
            </tr>
        }
    </tbody>
</table>
*@



