@model ZaculeuValley.IxchelAdmin.Models.Facility

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Instalación</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idinstitution" class="control-label">Institución</label>
                <select asp-for="Idinstitution" class ="form-control" asp-items="ViewBag.Idinstitution"></select>
                <span asp-validation-for="Idinstitution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iddistrict" class="control-label">Distrito</label>
                <select asp-for="Iddistrict" class ="form-control" asp-items="ViewBag.Iddistrict"></select>
                <span asp-validation-for="Iddistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityCode" class="control-label">Código Interno de Instalación</label>
                <input asp-for="FacilityCode" class="form-control" />
                <span asp-validation-for="FacilityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdfacilityType" class="control-label">Tipo de Instalación</label>
                <select asp-for="IdfacilityType" class ="form-control" asp-items="ViewBag.IdfacilityType"></select>
            </div>
            <div class="form-group">
                <label asp-for="FacilityName" class="control-label">Nombre de la Instalación</label>
                <input asp-for="FacilityName" class="form-control" />
                <span asp-validation-for="FacilityName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Enabled" /> Hábilitado
                </label>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> Borrado
                </label>
            </div>*@
            
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mb-5">
    <a asp-action="Index">Regresar a Índice</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
