@model ZaculeuValley.IxchelAdmin.Models.Facility

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Instalación</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idfacility" />
            <div class="form-group">
                <label asp-for="Idinstitution" class="control-label">Institución</label>
                <select asp-for="Idinstitution" class="form-control" asp-items="ViewBag.Idinstitution"></select>
                <span asp-validation-for="Idinstitution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iddistrict" class="control-label">Distrito</label>
                <select asp-for="Iddistrict" class="form-control" asp-items="ViewBag.Iddistrict"></select>
                <span asp-validation-for="Iddistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdfacilityType" class="control-label">ID Tipo Instalación</label>
                <select asp-for="IdfacilityType" class="form-control" asp-items="ViewBag.IdfacilityType"></select>
                <span asp-validation-for="IdfacilityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityCode" class="control-label">Código Instalación</label>
                <input asp-for="FacilityCode" class="form-control" />
                <span asp-validation-for="FacilityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityName" class="control-label">Nombre Instalación</label>
                <input asp-for="FacilityName" class="form-control" />
                <span asp-validation-for="FacilityName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Enabled" /> Hábilitado
                </label>
                <span asp-validation-for="Enabled" class="text-danger"></span>
                
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> Borrado
                </label>
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>*@
            
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a Índice</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
